@model CarHire.Domain.Entities.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Edycja @Model.Name</h3>
    </div>

    @using (Html.BeginForm("Edit", "Users"))
    {


            @Html.EditorForModel();

        <div class="panel-footer">
            <input type="submit" value="Zapisz" class="btn btn-primary" />
            @Html.ActionLink("Anuluj", "Index", "Home", null, new
       {
           @class = "btn btn-default"
       })
        </div>
    }
</div>